# .gitignore

/build/
/build_cov/
/subprojects/SDL2-2.0.3/
/subprojects/eigen-eigen-323c052e1731/
/subprojects/googletest-release-1.8.1/
/subprojects/packagecache/

# For CCLS
/.ccls-cache
/compile_commands.json
